name: build
on:
  push:
    branches:
      - master
    paths-ignore:
      - '.idea/**'
      - 'jitpack.yml'
      - '**/.gitignore'
      - '**/*.md'
      - '.github/**.md'
  pull_request:
    paths:
      - '.github/workflows/**'
      - 'gradle/**'
      - 'app/**'
      - 'composeApp/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'generic-datastore/build.gradle.kts'
      - 'generic-datastore/src/androidMain/**'
      - 'generic-datastore/src/commonMain/**'
      - 'generic-datastore/src/desktopMain/**'
      - 'generic-datastore/src/iosMain/**'
      - 'generic-datastore-compose/src/**'
  workflow_dispatch:

env:
  JAVA_VERSION: 17
  JAVA_DISTRO: 'temurin'

concurrency:
  group: ${{ github.ref }}-build
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  Build-Android:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build app
        run: |
          ./gradlew assembleRelease --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: app-${{ github.run_number }}
          path: app/build/outputs/apk/release/app-release.apk
  
  Build-Desktop:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Create distributable
        run: |
          ./gradlew :composeApp:createReleaseDistributable
  
  Compile-IOS:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        commands: [ publishIosArm64PublicationToMavenLocal, publishIosSimulatorArm64PublicationToMavenLocal, publishIosX64PublicationToMavenLocal ]
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRO }}

      - name: Set up gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Create Release for Generic Datastore
        run: |
          ./gradlew :generic-datastore:${{ matrix.commands }}

      - name: Create Release for Generic Datastore Compose
        run: |
          ./gradlew :generic-datastore-compose:${{ matrix.commands }}
